@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <body style="background-color:powderblue;">
    <h1 class="display-4">ShipIT 7.0</h1>
    <p>Terr(a)ific Tribe</p>
</div>
