@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}
<style>
        body {
            background-color: #f0f8ff; /* Light blue background color */
        }
</style>
<div class="text-center">
    <h1 class="display-4">ShipIT 7.0</h1>
    <p>Terr(a)ific Tribe</p>
</div>
